body{
		background-color:#E9E6DD;
		padding:35px;
	}

h1{
	color:#975E64;
	font-size:70px;
	text-align:center;
	font-family:cursive;
}
p{
	font-weight:bold;
	color:#445D48;
	font-size:20px;
	margin-left:20px;
	font-family:monospace;
}
ol, ul{
	color:#F57251;
	font-size:15px;
	font-family:monospace;
	margin-left:30px;
}
#one{
	font-style:italic
}
h5{
	color:#445D48;
	font-family:fantasy;
	font-size:20px;
	margin-left:20px;
}
dl{
	color:#F57251;
	font-size:15px;
	font-family:monospace;
    margin-left:30px;
}
dt{
	color:#975E64;font-weight:bold;
}